$dayBgColor = #f0f0f0;
$dayFtColor = #04041b;
$nightBgColor = #252525;
$nightFtColor = #fafafd;

$accentColor = hsl(170, 70%, 35%)
$textColor = $dayFtColor
$borderColor = #dcdce4
$codeBgColor = $nightBgColor
$arrowBgColor = $dayBgColor
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961
